
  @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Mooli&family=Outfit:wght@500&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#ccc;
}


.continar,h1{
    width: 900px;
    margin: 0 auto;
    

}

.box{
    background-color: hsl(210, 46%, 95%);
    width: 1100px;
    height: 550px;
    padding: 230px;
    margin: 0 auto;
    margin-top: 85px;
    box-shadow: 9px 9px 9px ;
    border-radius: 6px;
    
}

.right{
    background-color:hsl(263, 55%, 52%); 
    color: white;
    width: 370px;  
    position: absolute;
    bottom: 260px;
    font-size: 9px;
    left: 10%;
    border-radius: 10px;
    top: 130px;
    padding: 37px;
    margin: 15px;
    font-family: 'Outfit', sans-serif;

    

}
.right img{
    position: absolute;
    left: 18px;
    top: 2px;
    width: 35px;
    box-shadow: 3px 4px 5px;
    
    border-radius: 50px;

}
span{
    display: flex;
    position: absolute;
    left: 80px;
    top: 10px;
    
}
h2{
    font-size: 9;
    margin-bottom: 10px;
}

h5{
    font-size: 7px;
}

.left{
        background-color: hsl(219, 29%, 14%) ;
        color: white;
        width: 299px;  
        position: absolute;
        bottom: 260px;
        font-size: 15px;
        left: 40%;
        border-radius: 10px;
        top: 130px;
        padding: 37px;
        margin: 15px;
        font-family: 'Outfit', sans-serif;
    }
    .left img{
        position: absolute;
        left: 18px;
        top: 2px;
        width: 35px;
        box-shadow: 5px 6px 7px;
        border-radius: 50px;
    
    }
    span{
        display: flex;
        position: absolute;
        left: 80px;
        top: 10px;
        
    }

.middle{
        background-color:  hsl(0, 0%, 100%) ;
        color: black;
        width: 300px; 
        height: 500px; 
        position: absolute;
        bottom: 260px;
        font-size: 13px;
        left: 65%;
        border-radius: 10px;
        top: 130px;
        padding: 37px;
        margin: 15px;
        font-family: 'Outfit', sans-serif;
    }
    .middle img{
        position: absolute;
        left: 18px;
        top: 2px;
        width: 35px;
        box-shadow: 5px 6px 7px;
        border-radius: 50px;
    
    }
    span{
        display: flex;
        position: absolute;
        left: 80px;
        top: 10px;
        
    }
    .bottom{
        background-color:  hsl(0, 0%, 100%);
        color: black;
        width: 300px; 
        height: 200px; 
        position: absolute;
        bottom: 180px;
        font-size: 13px;
        left: 10%;
        border-radius: 10px;
        top: 420px;
        padding: 37px;
        margin: 15px;
        font-family: 'Outfit', sans-serif;
    }
    .bottom img{
        position: absolute;
        left: 18px;
        top: 2px;
        width: 35px;
        box-shadow: 5px 6px 7px;
        border-radius: 50px;
    
    }
    span{
        display: flex;
        position: absolute;
        left: 80px;
        top: 10px;
        
    }
    .cook{
        background-color:  hsl(219, 29%, 14%);
        color: white;
        width: 390px; 
        height: 200px; 
        position: absolute;
        bottom: 200px;
        font-size: 11px;
        left: 315px;
        border-radius: 9px;
        top: 1px;
        padding: 30px;
        margin: 18px;
        font-family: 'Outfit', sans-serif;
    }
    .cook img{
        position: absolute;
        left: 18px;
        top: 2px;
        width: 35px;
        box-shadow: 5px 6px 7px;
        border-radius: 50px;
    
    }
    span{
        display: flex;
        position: absolute;
        left: 80px;
        top: 10px;
        
    }





    


    
    
    
